@page
@model AreaListModel

@{
    ViewData["Title"] = "Add Area";
}

<h1>Add Area</h1>

@*TODO: Need Horizontal display with image*@
<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="AreaImage" />

    <input type="text" asp-for="Area.AreaName" placeholder="AreaName" />
    <input type="text" asp-for="Area.AreaDescription" placeholder="AreaDescription" />
    
   
    <button type="submit">Submit</button>
</form>
