@page
@model AreaListModel

@{
    ViewData["Title"] = "Add Area";
}

<h1>Add Area</h1>

@*TODO: Need Horizontal display with image*@
<form method="post" enctype="multipart/form-data">
   @* <input type="file" asp-for="Portrait" />

    <input type="text" asp-for="Character.Name" placeholder="Name" />
    <input type="text" asp-for="Character.Race" placeholder="Race" />
    <input type="text" asp-for="Character.Class" placeholder="Class" />
    <input type="text" asp-for="Character.Description" placeholder="Description" />
    <input type="text" asp-for="Character.Backstory" placeholder="Backstory" />*@
   
    <button type="submit">Submit</button>
</form>
