@using RPGInfo.Web.Models
@model RPGInfo.Web.Pages.CharacterDetailModel

<h4>Character Relationships</h4>

<p> TODO ... Need to add Character Relationship properties etc.</p>

@*<ul>
    @foreach(var relationship in @Model.Character.Relationships)
    {
        <li>@relationship. </li>
    }
</ul>

<form asp-page-handler="AddRelationship" >
  <div class="form-group">
    <label for="NoteTitle">Note Title</label>
    <input  type="text" name="NoteTitle" class="form-control" placeholder="Note Title">
  </div>
  <div class="form-group">
    <label for="NoteContent">Note Content</label>
    <input  type="text" name="NoteContent" class="form-control" placeholder="Write Content here..">
  </div>
  
  <button type="submit" class="btn btn-primary">Add Note</button>
</form>
*@