@using RPGInfo.Web.Models
@model RPGInfo.Web.Pages.CharacterDetailModel

<h4>Character Notes</h4>

<div class="row">
    <ul class="list-group col-12" id="newNote">
    </ul>
</div>

<form asp-page-handler="AddNote" class="mt-4 mb-4">
    <div class="row">
        <div class="form-group col-6">
            <label for="NoteTitle">Title</label>
            <input type="text" id="noteTitle" name="NoteTitle" class="form-control">
        </div>

        <div class="form-group  col-6">
            <label for="NoteDate">Date</label>
            <input type="datetime" id="noteDate" name="NoteDate" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="NoteContent">Content</label>
        <input type="text" id="noteContent" name="NoteContent" class="form-control">
    </div>

    <button type="button" id="addNoteForm" class="btn btn-primary">Note Add</button>

</form>

@*<button id="searchButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBookModal">Add Book</button>*@

@*<form asp-controller="Book" asp-action="AddNewBookForUser" method="post">
    <div id="addBookModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title">Book Details Form</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
    <div class="form-group">
    <label>ISBN:</label>
    <input id="isbn" type="text" asp-for="Identifier" class="form-control" />
    </div>
    <div class="form-group">
    <label>Title:</label>
    <input id="title" type="text" asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
    <label>Description:</label>
    <input type="text" asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
    <label for="@Model.GenreList">Author's Genres</label>
    <select asp-for="GenreIds" asp-items="Model.GenreList" multiple class="form-control">
    </select>
    </div>
    <div class="form-group">
    <label for="@Model.AuthorList">Book's Authors</label>
    <select asp-for="AuthorIds" asp-items="Model.AuthorList" multiple class="form-control"></select>
    </div>
    <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Save Book</button>
    <a data-toggle="modal" href="#detailsModal" class="btn btn-primary">Search</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </form>*@

@*<div class="modal fade detailsModal" tabindex="-1" role="dialog" id="detailsModal">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title">Book List</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body" style="height:500px;overflow:scroll;">
    <div id="searchResults"></div>
    </div>
    </div>
    </div>
    </div>
*@

<style>
    .note-style {
        word-wrap: break-word;
    }

</style>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

          $("#addNoteForm").click(function() {
             addNote();
          });

          $("#removeNote").click(function() {
              removeNote();
          });

             function addNote() {
                var noteTitle = $('input[id="noteTitle"]').val();
                var noteDate = $('input[id="noteDate"]').val();
                var noteContent = $('input[id="noteContent"]').val();

                var listItemId = getListItemId(4).toLowerCase();

                console.log(listItemId + ' ' + noteDate + ' ' + noteTitle + ' ' + noteContent);

                var listItemToAppend =  '<li id="li-'+ listItemId + '" class="list-group-item rmv_btn'+ listItemId + '">'
                          + '<div class="row">'
                            + '<div class="col-10 note-style">'
                                + noteTitle + ' ' + noteDate + ' ' + noteContent
                            + '</div>'
                            + '<div class="col-2">'
                                + '<button type="button" id="btn-'+ listItemId +'" class="rmv_btn'+ listItemId + ' btn btn-danger btn-sm">' + "Remove" + '</button>'
                            + '</div>'
                          + '</div>'
                       + '</li>'

                 $("#newNote").append(listItemToAppend);

                 var clickId = ".rmv_btn" + listItemId;
                
                 $("#newNote").on("click", clickId, function() {
                     console.log("remove clicked" + clickId);

                    $(this).remove();
                   
                 });
     
              }

              function getListItemId(length) {
                  var result = '';
                  var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                  var charactersLength = 4;
                  for ( var i = 0; i < length; i++ ) {
                    result += characters.charAt(Math.floor(Math.random() * 
                    charactersLength));
                    }

                return result;
              }

              //function removeNote(itemId) {
              //    console.log("remove clicked" + itemId);

              //    $('#' + itemid).click(function() {
              //     $('#' + itemid).remove();
              //    });
              //}

             // Set the api variable
             //var googleApiurl = `https://www.googleapis.com/books/v1/volumes?q=isbn:${isbn}&intitle:${title}`;
             //// Make a ajax call to get the json data as response.
             //$.getJSON(googleApiUrl, function (response) {
             //    if (!response.items) { return false }
             //    // In console, you can see the response objects
             //    //console.log("JSON Data: " + response.items);
             //    // Loop through all the items one-by-one
             //    for (var i = 0; i < response.items.length; i++) {
             //        console.log(response.items[i]);
             //        // set the item from the response object
             //        var item = response.items[i];
             //        var imageLink = "";
             //        if (item.volumeInfo.imageLinks != undefined) { imageLink = item.volumeInfo.imageLinks.thumbnail; }
             //        console.log(JSON.stringify(item.volumeInfo.industryIdentifiers));
             //        // Set the book title in the div
             //        $("#searchResults").append('<div style="padding: 10px;" id = "' + item.volumeInfo.industryIdentifiers[0].identifier + '" >' +
             //            '<span asp-for="Identifier" id="' + item.volumeInfo.industryIdentifiers[0].identifier + 'isbn" >' + item.volumeInfo.industryIdentifiers[0].identifier + '</span>' +
             //            '<img id="' + item.volumeInfo.industryIdentifiers[0].identifier + 'thumbnail" height="150px" style="float: left;padding-right:5px;" src="' + imageLink + '">' +
             //            '<h4 id="' + item.volumeInfo.industryIdentifiers[0].identifier + 'title" >' + item.volumeInfo.title + '</h4><span id="' + item.volumeInfo.industryIdentifiers[0].identifier +
             //            'publishDate" data-publish="' + item.volumeInfo.publishedDate + '">Published Date: ' + item.volumeInfo.publishedDate + '</span><br /><div class="card - body" id="' +
             //             item.volumeInfo.industryIdentifiers[0].identifier + 'description" style="height:100px;overflow:hidden;" />' + item.volumeInfo.description + '</div>' +
             //            '<button class= "btn btn-primary" onclick = "addCurrentBook(' + item.volumeInfo.industryIdentifiers[0].identifier + ')" > Add</button > </div><hr />');
             //    }
            // });

        // }

         //    function addCurrentBook(isbn) {
         //    var newBook = new Object();
         //    newBook.IdentifierType = "ISBN";
         //    newBook.ImageUrl = $('#' + isbn + 'thumbnail').prop('src');
         //    newBook.Identifier = $('#' + isbn + 'isbn').text();
         //    newBook.Title = $('#' + isbn + 'title').text();
         //    newBook.Description = $('#' + isbn + 'description').text();
         //    var pubDate = $('#' + isbn + 'publishDate').data('publish');
         //    newBook.publishedDate = new Date(pubDate);

         //    $.ajax({
         //        type: "POST",
         //        url: "/api/Book/AddNewBookForUser",
         //        data: JSON.stringify(newBook),
         //        contentType: "application/json; charset=utf-8",
         //    });
         //    window.location.href = "/api/Book/UserBookList";
         //};



</script>
