@using RPGInfo.Web.Models
@model string[]

<h4>Add New Character Notes</h4>

<div class="row">
    <ul class="list-group col-12" id="newNote">
    </ul>
</div>

<form asp-page-handler="AddNotes" class="mt-4 mb-4">
    <div class="row">
        <div class="form-group col-6">
            <label for="NoteTitle">Title</label>
            <input type="text" id="noteTitle" name="NoteTitle" class="form-control">
        </div>
        
        <div class="form-group  col-6">
            <label for="NoteDate">Date</label>
            <input type="datetime" id="noteDate" onchange="validateDate()" name="NoteDate" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="NoteContent">Content</label>
        <input type="text" id="noteContent" name="NoteContent" class="form-control">
    </div>

    <button type="button" id="addNoteForm" class="btn btn-primary">Add</button>

    @Html.AntiForgeryToken()
    <button class="btn btn-primary" type="button" onclick="addCurrentNotes(data)"> Save Notes</button>

</form>

<style>
    .note-style {
        word-wrap: break-word;
    }

</style>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

       data = [];

    $("#addNoteForm").click(function() {
       addNote();
    });

    $("#removeNote").click(function() {
        removeNote();
    });

     function validateDate() {
        var dateInput = $('input[id="noteDate"]').val();

        var match = dateInput.match(/^(\d{1,2})\/(\d{1,2})\/(\d{4})$/);

        if (!match) {
          $('input[id="noteDate"]').val('');
        } else {
          $('input[id="noteDate"]').val(dateInput);
        }
     }

     function addData(item) {
      data.push(item);
      console.log(data);
     }

     function removeData(itemToRemove) {
       $(itemToRemove).on("click", itemToRemove, function() {
       $(this).remove();

        var index = data.indexOf(itemToRemove.text());
        console.log(index);
        data.splice(index, 1);
        console.log(data);
         });
       }

      function addNote() {
       var noteTitle = $('input[id="noteTitle"]').val();
       var noteDate = $('input[id="noteDate"]').val();
       var noteContent = $('input[id="noteContent"]').val();

       var listItemId = getListItemId(4).toLowerCase();

       console.log(listItemId + ' ' + noteDate + ' ' + noteTitle + ' ' + noteContent);

       var listItemToAppend =  '<li id="li-'+ listItemId + '" class="list-group-item rmv_btn'+ listItemId + '">'
                 + '<div class="row">'
                   + '<div class="col-10 note-style">'
                       + '<p>' + 'Title: ' + noteTitle + '</p>' + '<p>' + 'Date: ' + noteDate + '</p>' + '<p>' + 'Note: ' +  noteContent + '</p>'
                   + '</div>'
                   + '<div class="col-2">'
                       + '<button type="button" id="btn-'+ listItemId +'" class="rmv_btn'+ listItemId + ' btn btn-danger btn-sm">' + "Remove" + '</button>'
                   + '</div>'
                 + '</div>'
              + '</li>'

        $("#newNote").append(listItemToAppend);

        var newItem = $('#newNote').find('#li-'+ listItemId).text();
        addData(newItem);

        var itemToRemove = $('#newNote').find('#li-'+ listItemId);
        removeData(itemToRemove);

        // TODO: Remove unnecessary code. Need to do ajax post one note at a time and redirect to character page
        addCurrentNotes(data);

       }

       function getListItemId(length) {
           var result = '';
           var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
           var charactersLength = 4;
           for ( var i = 0; i < length; i++ ) {
             result += characters.charAt(Math.floor(Math.random() *
             charactersLength));
             }

           return result;
        }

       function addCurrentNotes(data) {
          var notes = [];

          if (data.length <= 0) return;

          for(let i = 0; i < data.length; i++) {
             var note = {};
             note.noteTitle = "";
             note.noteDate = new Date('0001-01-01');
             note.noteContent = data[i];
             notes.push(note);
          }

          notes = JSON.stringify({'notes': notes });

          $.ajax({
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              type: 'POST',
              url: window.location.href + '?handler=AddNotes',
              data: JSON.stringify(data),
              success: function() {
                  window.location.href="url";
                  console.log("ajax Notes post called");
              },
              failure: function(response) {
                  console.log(response);
              },
              beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                           }
          });

        };

</script>
