@using RPGInfo.Web.Models
@model List<Note>

<div class="container">
    @foreach (var note in Model)
    {
        <div class="col-md-12">
            <h1>@note.NoteTitle</h1>
            <p>
                @note.NoteContent
            </p>
            <div>
                <span class="badge"> Added: @note.NoteDate</span>
                <div>
                    <form asp-page-handler="EditNote" method="post">
                        <button class="btn btn-sm btn-danger">Delete from Record</button>
                        <input type="hidden" name="id" value="@note.Id" />
                    </form>
                </div>
            </div>
            <hr>
        </div>
    }
</div>