

<h1>Add Note</h1>

<form method="post" enctype="multipart/form-data">
    
    <input type="text"  placeholder="Title" />
    <input type="text"  placeholder="Race" />
    

    <button type="submit">Submit Note</button>
</form>


