@page
@model Characters
@{
    ViewData["Title"] = "Add Character";
}

<h1>Add Character</h1>

<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Portrait" />

    <input type="text" asp-for="Character.Name" placeholder="Name" />
    <input type="text" asp-for="Character.Race" placeholder="Race" />
    <input type="text" asp-for="Character.Class" placeholder="Class" />
    <input type="text" asp-for="Character.CurrentLocation" placeholder="Current Location" />

    <input type="text" asp-for="Character.Campaign" placeholder="Campaign Name" />
    <input type="text" asp-for="Character.Setting" placeholder="Game World" />
    <input type="text" asp-for="Character.CharacterNotes" placeholder="Character Notes" />

    <button type="submit">Submit</button>
</form>

<div class="container">

    <h1 class="p-3 text-center">Characters</h1>

        <div class="row">
            @foreach (var item in Model.CharacterList)
            {
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="/CharacterDetail/@item.Id">
                            @if (item.Portrait != null)
                            {
                                <img class="card-img-top" src="data:image;base64,@System.Convert.ToBase64String(item.Portrait)" alt="">
                            }
                            else
                            {
                                <img class="card-img-top" src="~/images/NoImageAvailable.png" />
                            }
                        </a>

                        <div class="card-body">
                            <h4 class="card-title">
                                <a class="color-main" href="/CharacterDetail/@item.Id">@item.Name</a>
                            </h4>
                            <p class="card-text">@item.Race</p>
                            <p class="card-text">@item.Class</p>
                            <p class="card-text">@item.CurrentLocation</p>
                        </div>
                        <div class="card-footer">
                            <a href="/CharacterDetail/@item.Id" class="btn btn-success w-100">Character Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>


</div>