@page "{id}"
@model RPGInfo.Web.Pages.CharacterDetail
@{
    ViewData["Title"] = "Character Detail";
}

<h1>@Model.Character.Name</h1>
<p>@Model.Character.Race</p>
<p>@Model.Character.Class</p>
<p>@Model.Character.CurrentLocation</p>
