@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Manage your RPG story and characters</h4>
    <h4>This application is meant to track basic character information and relationships but mostly stories</h4>
    <h4>Users should be able to add blog style, notes about characters, campaigns, settings, and parties as well as track relationships</h4>
    <p><strong>Objects, Relationships, Ideas</strong></p>
    <ul>
        <li>Users : 0 to many characters</li>
        <li>Partys : 1 to many characters</li>
        <li>Settings : 1 to many characters, 0 to many events</li>
        <li>Campaigns : 0 to many characters, 0 to many parties, 1 to many settings</li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
