@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">World Manager</h1>
    <h4>Manage your RPG story and characters</h4>
    <h5>This application is meant to track basic character information and relationships as well as stories</h5>
    <h5>Users should be able to add notes and details about various aspects of their characters, parties, settings, and campaigns</h5>
    <br />
</div>

<div>
    <h2>Current Campaign summaries</h2>
</div>