@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center jumbotron">
    <h1 class="display-4">World Manager </h1>
    <h4>A tool to manage game notes [v0.1]</h4>
</div>
<br />
<h5 style="font:italic;">**future versions may include session recordings, searching and/or storage on this page.</h5>
