@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">World Manager</h1>
    <h4>Manage your RPG story and characters</h4>
    <br />
</div>
