@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@*TODO: Test other users, Create Events page and detail, then deploy to azure
*@
<div class="text-center">
    <h1 class="display-4">World Manager</h1>
    <h4>Manage your RPG story and characters</h4>
    <br />
</div>
