@page 
@model NoteModel
@{ 
    ViewData["Title"] = "Note";
}

<div class="container">
    <h1 class="mt-4 mb-3">
        Notes
        <small>Add a note</small>
    </h1>
    <hr />
    <div class="row">
        <div class="col-md-8 mb-4">
            <p></p>
            <br />
            <form asp-page="Note" method="post">
                <div class="control-group form-group">
                    <div class="controls">
                        <label asp-for="Note.NoteTitle">Note Title:</label>
                        <input asp-for="Note.NoteTitle" class="form-control" />
                        <span style="color:red;" asp-validation-for="Note.NoteTitle"></span>

                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label asp-for="Note.NoteContent">Message:</label>
                        <textarea asp-for="Note.NoteContent" rows="10" cols="100" class="form-control"></textarea>
                        <span style="color:red;" asp-validation-for="Note.NoteContent"></span>
                    </div>
                </div>
                <div id="success"></div>
                <button type="submit" class="btn btn-success" id="addNote">Add Note</button>
            </form>
        </div>
    </div>
</div>