@page
@model CampaignListModel
@{
    ViewData["Title"] = "Add Campaigns";
}

<h1>Add Campaign</h1>

<h4>List of Campaign Here</h4>
<h4>Similar to Character List, link to go to detail page</h4>
<h4>Campaign Detail page - Name, Description, List of areas of interest, List of Campaign Notes</h4>
<h4>Add, Edit, Remove Campaign Notes and areas of interest</h4>
<h4>Area of Interest Detail Page - Notes about area</h4>

